<nz-modal (nzOnCancel)="handleCancel()" [(nzVisible)]="isVisible" nzTitle="Team edit">
  <ng-container *nzModalContent>
    <form [formGroup]="form" nz-form>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>Team Name</nz-form-label>
        <nz-form-control [nzErrorTip]="nameErrorTpl" [nzSpan]="18" nzHasFeedback>
          <input formControlName="teamName" nz-input type="text"/>
          <ng-template #nameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Please input name</ng-container>
            <ng-container *ngIf="control.hasError('whitespace') && !control.hasError('required')">Name cannot be empty
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>Team Tag</nz-form-label>
        <nz-form-control [nzErrorTip]="nationalityErrorTpl" [nzSpan]="18" nzHasFeedback>
          <input formControlName="teamTag" nz-input type="text"/>
          <ng-template #nationalityErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Please input nationality</ng-container>
            <ng-container *ngIf="control.hasError('whitespace') && !control.hasError('required')">Nationality cannot be
              empty
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>Country</nz-form-label>
        <nz-form-control [nzErrorTip]="nationalityErrorTpl" [nzSpan]="18" nzHasFeedback>
          <input formControlName="country" nz-input type="text"/>
          <ng-template #nationalityErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Please input nationality</ng-container>
            <ng-container *ngIf="control.hasError('whitespace') && !control.hasError('required')">Nationality cannot be
              empty
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-container>
  <div *nzModalFooter>
    <button (click)="handleOk()" [disabled]="!form.valid" nz-button nzType="primary">
      <i nz-icon nzTheme="outline" nzType="check"></i>Save
    </button>
    <button (click)="handleCancel()" nz-button nzDanger nzType="primary">
      <i nz-icon nzTheme="outline" nzType="close"></i>Cancel
    </button>
  </div>
</nz-modal>
