<nz-layout class="layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            (nzCollapsedChange)="collapse()"
            [nzTrigger]="null">
    <app-sider></app-sider>
  </nz-sider>
  <nz-layout>
    <nz-header [hidden]="isCollapsed">
      <app-header></app-header>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
