<app-driver-editor-modal [testDriver]="selectedDriver"></app-driver-editor-modal>

<button (click)="openEmptyModal()" nz-button nzType="primary" style="float: right">
  <i nz-icon nzType="plus"></i>
  Add
</button>
<nz-divider></nz-divider>
<nz-table #basicTable [nzData]="drivers"
          [nzPageSize]="10"
          nzShowPagination="true"
          nzSize="default">
  <thead>
  <tr>
    <th>Driver</th>
    <th>Nationality</th>
    <th>Date of birth</th>
    <th>Teams</th>
  </tr>
  </thead>
  <tbody>
  <tr (click)="openModal(data)" *ngFor="let data of basicTable.data" style="cursor: pointer">
    <td>{{data.driver}}</td>
    <td>{{data.nationality}}</td>
    <td>{{data.dateOfBirth}}</td>
    <td>{{teamsName(data.teams)}}</td>
  </tr>
  </tbody>
</nz-table>

