<div class="sidebar-logo">
  <a routerLink="/home">
    <img alt="logo" src="./assets/logo.png">
    <h1>RACE RESULTS</h1>
  </a>
</div>
<ul [nzInlineCollapsed]="isCollapsed" nz-menu nzMode="inline" nzTheme="dark">
  <li nz-menu-item nzMatchRouter routerLink="/seasons">
    <i nz-icon nzType="dashboard"></i>
    <span>Seasons</span>
  </li>
  <li nz-menu-item nzMatchRouter routerLink="/teams">
    <i nz-icon nzType="rise"></i>
    <span>Teams</span>
  </li>
  <li nz-menu-item nzMatchRouter routerLink="/drivers">
    <i nz-icon nzType="rise"></i>
    <span>Drivers</span>
  </li>
  <li nz-menu-item nzMatchRouter routerLink="/head2head">
    <i nz-icon nzType="radar-chart"></i>
    <span>Head 2 Head</span>
  </li>
  <li nz-menu-item nzMatchRouter routerLink="/login">
    <i nz-icon nzType="radar-chart"></i>
    <span>Management</span>
  </li>
</ul>
