.p1 {
  background-color: #fafab1 !important;
  font-weight: bold
}

.p2 {
  background-color: #d1cfd0 !important;
  font-weight: bold
}

.p3 {
  background-color: #ffe6ba !important;
  font-weight: bold
}

.dnf {
  background-color: #f0cdf7 !important;
}

.points {
  background-color: #d1ffd3 !important;

}

.outsidePoints {
  background-color: #CFCFFF !important;
}
